<nav id="nav_bar">
  <ul>
    <li><a href="/">Home</a></li>
    <li>
      <form action="/artist-search" method="GET">
        <label for="artist"
          ><input
            type="text"
            name="artist"
            class="artist_search"
            placeholder="Enter an artist"
          /><button type="submit" class="search_button">Search</button></label
        >
      </form>
    </li>
  </ul>
</nav>
