<%- include('partials/searchBar.ejs') %>

<h1>Search result :</h1>

<ul>
  <% artists.forEach(artist => { %>
  <li>
    <%- artist.name %> <% if (artist.images[0]?.url) { %>
    <img
      src="<%- artist.images[0]?.url %>"
      alt="artist photo"
      class="spotifyImg"
    />
    <% }else{%>
    <p>No photo available</p>
    <%} %>

    <a href="/albums/<%- artist.id%>"><button>View Albums</button></a>
  </li>
  <% }) %>
</ul>
