<div id="home_search_page">
  <div class="home_form">
  <h1>Find your favorite artist here</h1>
  <form action="/artist-search" method="GET">
      <label for="artist">
        <input
          type="text"
          name="artist"
          class="artist_search"
          placeholder="Enter an artist"
      /></label>
      <button type="submit" class="search_button"></button>
  </form>
  </div>

</div>
