<h1>Tracks</h1>

<ul>
    <% tracks.forEach(tracks => { %>
        <li>
           <h3><%- tracks.name  %></h3>
           <% if (tracks.preview_url) { %>
            <audio src="<%- tracks.preview_url %>" controls></audio>
           <% }else{%>
            <p>No preview available</p>
           <%} %>
           
       </li>
       <% }) %>
</ul>