body {
  margin: 0 auto;
  padding: 0 auto;
  background-image: url("/images/galaxy_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 25%;
  font-family: "Roboto", Arial, sans-serif;
  color: #f8f3eb;
}

.spotifyImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.not_available {
  color: rgba(128, 128, 128, 0.722);
}

/*NAV BAR*/

#nav_bar {
  top: 0px;
  width: 100vw;
  height: 80px;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.583);
  display: flex;
  align-items: center;
  position: fixed;
}

#nav_bar ul {
  margin: 0 auto;
  padding: 0 30px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

#nav_bar ul li {
  list-style: none;
}

#nav_bar ul li a {
  font-weight: bold;
  text-decoration: none;
  color: #f8f3eb;
}

#nav_bar ul li a:hover {
  text-shadow: #c78691 0 0 10px;
}

.search_area label {
  display: flex;
}

.artist_search_input {
  display: block;
  border: none;
  height: 25px;
  width: 200px;
  padding-left: 10px;
  background-color: #fefdf5;
  border-radius: 10px;
  border: solid 2px #c78691;
}

.artist_search_input:focus {
  box-shadow: #c78691 0 0 5px;
  outline: none;
}

.search_button {
  display: block;
  background-color: #fefdf5;
  width: 35px;
  height: 31px;
  border-radius: 15px;
  background-position: 50%;
  background-size: 19px;
  background-image: url("/images/loupe.png");
  background-repeat: no-repeat;
  border: solid 2px #c78691;
  margin-left: 5px;
  cursor: pointer;
}

/*HOME*/

#home_search_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_form {
  width: 700px;
  height: 300px;
  border-radius: 15px;
  background-color: #141533a6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_form h1 {
  text-shadow: #c78691 0 0 5px;
  margin-bottom: 60px;
}

/*SEARCH RESULT PAGE AND ALBUMS PAGE*/

.page {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.search_result_container,
.albums_container,
.tracks_container {
  width: 80vw;
}

.search_result_h1,
.albums_container_h1,
.tracks_container_h1 {
  margin: 0;
  padding-top: 150px;
  text-shadow: #f7e6c4 0 0 10px;
}

.artists_result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artists_result li {
  background-color: #141533a6;
  border-radius: 10px;
  width: 260px;
  margin: 15px;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.artist_name {
  text-align: center;
  color: #f8f3eb;
  text-shadow: #c78691 0 0 10px;
  text-decoration: none;
  padding: 15px 10px;
  line-height: 30px;
}

/*ALBUMS*/

.albums_result {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.albums_result li {
  background-color: #141533a6;
  border-radius: 10px;
  width: 80vw;
  margin: 15px;
  padding: 25px 0;
  display: flex;
  align-items: center;
}

.albums_result li img {
  padding: 0 20px;
  width: 100px;
  height: 100px;
}

.albums_result li .button_area {
  margin-left: auto;
  padding-right: 20px;
}

.albums_container_h1 a,
.tracks_container_h1 a {
  cursor: pointer;
  color: #f8f3eb;
  text-decoration: none;
}
.album_name {
  text-align: center;
  color: #f8f3eb;
  text-shadow: #60a8bf 0 0 10px;
  text-decoration: none;
  padding: 15px 10px;
  line-height: 30px;
  font-size: 1rem;
}

/*TRACKS*/

.tracks_results {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.tracks_results li {
  background-color: #141533a6;
  border-radius: 40px;
  display: flex;
  align-items: center;
  width: 60vw;
  margin: 10px;
  padding: 10px 25px;
  justify-content: space-between;
}

.track_preview {
  background-color: red;
  border-radius: 25px;
  background: linear-gradient(to left, #007db5, #ff8a00);
  box-shadow: #c78691 0 0 10px;
}

.buttons {
  background-color: #fefdf5;
  height: 30px;
  border-radius: 10px;
  padding: 0 15px;
  border: solid 2px #c78691;
  color: #293d67cb;
  font-size: 0.9rem;
  cursor: pointer;
}

/*FOOTER*/

footer {
  padding: 10px;
  color: #f7e6c4;
  position: fixed;
  bottom: 5px;
  right: 5px;
}
